/* Define your root variables */

:root {
  --dark-bg: #1a1b1e;
  --light-text: #f4f4f4;
  --blue: #5a8dca;
  --dark-blue: #4a7dbb;
  --font-primary: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--dark-bg);
  color: var(--light-text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling on small screens */
}

/* Style for h2 element */

h2 {
  text-align: center;
  color: var(--blue);
}

/* Style for the container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

/* Style for unordered list */

ul {
  list-style: none;
  padding: 0;
  width: 100%; /* Adjust width for responsiveness */
}

/* Style for list items */

li {
  background-color: #2d2d2f;
  margin: 10px 0;
  padding: 15px;
  padding-bottom: 20px; /* Add more padding at the bottom */
  width: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-left: 4px solid var(--blue);
  cursor: pointer;
}

/* Style for task title */

li .task-title {
  font-size: 18px;
  color: var(--light-text);
  margin-bottom: 8px;
  font-weight: bold;
  word-wrap: break-word; /* Ensure long words wrap */
}

/* Style for task description */

/* Style for task description */
li .task-description {
  font-size: 14px;
  color: #b0b0b0;
  word-wrap: break-word; /* Ensure long words wrap */
}


/* Style for forms */

form {
  margin-bottom: 20px;
  width: 100%; /* Adjust width for responsiveness */
}

/* Style for input elements */

input[type="text"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #434345;
  border-radius: 4px;
  width: 100%; /* Adjust width for responsiveness */
  background-color: #2d2d2f;
  color: var(--light-text);
}

/* Style for buttons */

button {
  background-color: var(--blue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Adjust width for responsiveness */
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--dark-blue);
}

/* Style for task details */

.task-details, .back-button-container {
  background-color: #2d2d2f;
  margin: 20px auto;
  padding: 25px;
  width: 35vh;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border-left: 5px solid var(--blue);
  color: var(--light-text);
  box-sizing: border-box; /* Ensure consistent box model */
  word-wrap: break-word; /* Ensure long words wrap */
}

.task-details p strong {
  display: block;
}

.task-details p span {
  display: block;
  margin-left: 20px; /* For indentation */
}

.task-details p .inline-title {
  display: inline; /* Overrides the block display for Title */
}


.task-details p, li {
  line-height: 1.6;
  margin-bottom: 10px;
}

.task-details strong {
  font-weight: bold;
}

.task-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.task-details a {
    color: #007bff;
    text-decoration: none;
}
.task-details a:hover {
    text-decoration: underline;
}
.back-button-container {
    padding: 10px 15px;
    background-color: #2d2d2f;
    color: white;

    border-radius: 5px;
    cursor: pointer;
}
.back-button-container:hover {
    background-color: var(--blue);
}

/* Reset default button styles */
button.back-button-container {
}


/* Additional styles for task details */

/* Media queries for responsiveness */

